.App {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f2f2f2;
}

.appBody {
    height: calc(100vh - 65px);
}

.appHeader {
    height: 65px;
}

.bold {
    font-weight: bold;
}

.exerciseBtn {
    /*
    width: 200px;
    */
    width: 95%;
}

.exerciseRow {
    padding-bottom: 0 !important;
    padding-top: 5px !important;
}

.floatLeft {
    float: left;
}

.score {
    height: 2rem;
    width: 100%;
}

.scoreRadioField {
    text-align: left;
}

.footerLogo {
    width: 156px !important;
    height: 83px !important;
    margin-bottom: 5px;
 }

.fullWidth {
    width: 100%;
}

.green {
    color: green;
}

.headerMessage {
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.headerText {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 5px;
    margin: auto !important;
}

.languageSelect {
    position: absolute;
    float: right;
    right: 5px;
    top: 5px;
}

.mainMenuBtn {
    width: 90%;
}

.marginRight {
    margin-right: 20px !important;
}

.marginLeftLarge {
    margin-left: 40px !important;
}

.marginTopSmall {
    margin-top: 10px !important;
}

.marginTop {
    margin-top: 20px !important;
}

.maxWidth {
    max-width: 630px !important;
}

.red {
    color: red;
}

.vtDiv {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

/* styles for smaller devices */
@media (max-width: 991px) {
    .maxWidth {
        max-width: 90% !important;
        margin: auto;
    }

    .notationBlock {
        max-width: 100%;
        margin: auto;
    }
}
