README.md.backup
node_modules
/digisolfReact/build/
/AppogiaturaRC_transparent.png
/fl-note.wav
/package-lock.json
/digisolfReact/package-lock.json
/digisolfReact/.htaccess
/digisolfReact/digisolf/
/digisolfReact/public/.directory
/digisolfReact/public/cb-fl-tongue-ram.wav
